.right__contents_shop-news-list
  = image_tag 'agnes_b_ladys.jpeg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'img02.jpeg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'img03.jpeg', class: "right-contents-shop-pop"
.right__contents_shop-news-list
  = image_tag 'img04.jpeg', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'agnes_b_ladys.jpeg', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'agnes_b_ladys.jpeg', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'agnes_b_ladys.jpeg', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'agnes_b_ladys.jpeg', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'agnes_b_ladys.jpeg', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'agnes_b_ladys.jpeg', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'agnes_b_ladys.jpeg', class: "right-contents-shop-pop"
/ .right__contents_shop-news-list
/   = image_tag 'agnes_b_ladys.jpeg', class: "right-contents-shop-pop"

